.background {
  min-height: 200dvh;
  width: 100vw;
  background: linear-gradient(
    150deg,
    rgb(11, 11, 108),
    rgb(72, 72, 195),
    rgb(11, 11, 108)
  );
}
.main {
  display: flex;
  flex-direction: column;
  color: white;
  min-height: 100dvh;
  width: 100%;
}

.main span {
  background-color: rgb(110, 110, 184);
  color: black;
  font-size: 1.5rem;
  margin-top: 4rem;
  margin-left: 4rem;
  font-weight: bold;
  border-radius: 1rem;
  padding: 0.6rem 2rem;
  width: fit-content;
}
.main h1 {
  padding: 4rem 4rem;
  font-size: 3rem;
}
.main img {
  width: 10vw;
}

.main1 {
  width: 90%;
  height: 40dvh;
  border: 0.2rem solid yellow;
  margin-left: 5%;
  border-radius: 2rem;
  background: linear-gradient(
    90deg,
    rgb(8, 8, 73),
    rgb(17, 17, 157),
    rgb(11, 11, 69)
  );
  backdrop-filter: blur(10rem);
  z-index: 2;
  font-size: 1.5rem;
}
.main1 p {
  padding: 4rem;
}

.circle {
  /* min-height: 100vh; */
  width: 10vw;
  border: 3px solid white;
  border-style: double;
  border-radius: 50%;
  position: absolute;
  left: 5%;
  z-index: 1;
}
.circle2 {
  width: 10vw;
  border: 3px solid yellow;
  border-style: double;
  border-radius: 50%;
  position: absolute;
  right: 5%;
  z-index: 1;
}
