.main {
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}
.vid {
  background-color: black;
  position: absolute;
  z-index: -2;
  width: 100vw;
  height: 250vh;
}

.video {
  object-fit: cover;
  width: 100%;
  height: 100dvh;
  position: absolute;
  z-index: -1;
}
.main2 {
  width: 100%;
  height: 90vh;
  padding: 5vh 10vw;
}
.trigger {
  height: 150vh;
}
.card {
  border: 2px solid white;
  height: 80vh;
  width: 80%;
  border-radius: 2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 3rem aqua;
}
.navbar {
  height: 10%;
  width: 100%;
}

.cardmain {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card1 {
  height: 100%;
  width: 60%;
}

.card1 h1 {
  color: black;
  margin-top: 4rem;
  text-align: center;
  font-size: 5rem;
}

.card1 p {
  color: black;
  text-align: center;
  padding: 4rem 6rem 1rem;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
}
.card2 {
  height: 60%;
  width: 35%;
  background-image: url("../images/catHello4.webp");
  background-size: cover;
  background-position: center top;
  border-radius: 2rem;
}

.fade {
  height: 50vh;
  background: linear-gradient(180deg, black 80%, blue 100%);
}

@media screen and (max-width: 700px) {
  .trigger {
    height: 100vh;
  }
  .video {
    display: none;
  }
  .vid {
    height: 200vh;
  }
  .main2 {
    padding: 5vh 2vw;
  }
  .card {
    width: 95%;
  }
  .cardmain {
    flex-direction: column;
  }
  .card1 {
    height: 50%;
  }
  .card2 {
    width: 100%;
  }
  .card1 h1 {
    padding: 0;
    font-size: 2rem;
  }
  .card1 p {
    display: none;
  }
}
